{% extends 'studentbase.html' %}
{% load static %}
{% block student %}

<div class="row">
    <div class="col-sm-12">
        <h1 class="text-center"><u><i> study material for student </i></u></h1>
        <table class="table w-75 mx-auto text-center text-bg-secondary">
            <tr>
                <th>s.no</th>
                <th>title </th>
             
                <th>action</th>
            </tr>
            {% for s in slm %}
            <tr>
                <td> {{forloop.counter}} </td>
                <td> {{s.title}} </td>

                <td>
                <a  href="{{ s.sm.url}}"   download  class="btn btn-primary"><i class="fa-solid fa-download"></i> download</a>
                
                <a href="{{ s.sm.url}}" target="_blank"  class="btn btn-success"><i class="fa-solid fa-eye"></i> view</a>
                </td>
                
                
            </tr>
            {%   endfor %}

        </table>
    </div>
</div>

{% endblock %}