{% extends 'teacherbase.html' %}
{% load static %}
{% block teacher %}

<div class="row">
    <div class="col-sm-12">
        <h1 class="text-center"><u><i>Teacher Dashboard</i></u></h1>


        <div class="col-md-10 py-4 mx-auto">

            <div class="row  py-3">
                <div class="card  px-2"
                    style="width: 18rem; border-radius: 60px; background-color: rgba(133, 60, 218, 0.24);">

                    <div class="card-body text-bg-subtle-primary">
                        <h1 class="text-center"><i class="fa-solid fa-book fa-2x"></i>&nbsp;&nbsp; {{slmcount}} </h1>
                        <a href="{% url 'teacherapp:viewslm' %}" style="text-decoration:none; color: black;">
                            <h2 class="text-center ">SLM</h2>
                        </a>

                    </div>  
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="card px-2" style="width: 18rem;border-radius: 60px; background-color: rgba(201, 172, 80, 0.24);">

                    <div class="card-body px-2">
                        <h1 class="text-center"> <i class="fa-solid fa-users-viewfinder fa-2x"></i> &nbsp;&nbsp;{{attcount}}</h1>
                        <a href="{% url 'teacherapp:viewattend' %}" style="text-decoration:none; color: black;">
                            <h2 class="text-center ">Attendance</h2>
                        </a>

                    </div>
                </div>
               

                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            </div>
        


        </div>
    </div>
</div>

{% endblock %}