{% extends 'base.html' %}
{% load static %}
{% block body %}

<div class="row">
    <div class="col-sm-10 mx-auto">
        <div class="row">
            <div class="col-sm-4">
                <img src="{% static 'images/chairman.jpg' %}" alt="" height="400" class="shadow">
                <h4 class="text-primary mx-5"><b>Er. Ajay Chaudhary</b></h4>
                <h5 class="px-5 mx-5">Chairman</h5>
                <h5 class="mx-5">Seth Anandram Jaipuria</h5>
                <h5>School, Sadhu Campus – Barabanki</h5>
            </div>
            <div class="col-sm-8">
                <h5 class="py-2"><b>Dear Students, Parents, and Well-wishers,</b></h5>
                <p class="fs-5">“In education lies the key to unlocking the golden door of freedom.” These profound words of Dr. A.P.J. Abdul Kalam resonate deeply with our mission here at Seth Anandram Jaipuria School. As the chairman of our esteemed institution, I am honored to lead a community dedicated to harnessing the transformative power of education.</p>
                <p class="fs-5">We firmly believe that education is not just about imparting knowledge but also empowering individuals to shape their destinies and change the world. In recognizing the pressing need for academic and skill-based learning in our community, we have tailored our curriculum to focus on practical expertise and hands-on experience.</p>
                <p class="fs-5">Our approach goes beyond traditional methods of education; we aim to equip our students with the skills they need to thrive in today’s dynamic and competitive world. In addition, we will instil values and attitudes for learners to lead with confidence.</p>
                <p class="fs-5">Through a combination of innovative teaching methods and real-world applications, we nurture the talents and aspirations of our students. Whether it’s developing academic rigour, mastering technical skills, honing creative talents, or building critical thinking abilities, our school provides a supportive environment where every student can flourish.</p>
                <p class="fs-5">As we forge ahead on this noble path, let us unlock the doors of opportunity and pave the way for a brighter tomorrow through the power of new-age education.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}