{% extends 'base.html' %}
{% load static %}
{% block body %}

<div class="row">
  <div class="col-sm-10 mx-auto">
    <div class="row">
      <div class="col-sm-6">
        <img src="{% static 'images/vision1.jpg' %}" alt="" height="500">
      </div>
      <div class="col-sm-6 py-5">
        <h2 class="py-5" style="text-decoration: underline;">VISION</h2>
        <p class="fs-4" style="color: gray;">We aim to nurture happy and confident children by providing child- centric learning. Our endeavor is to promote creativity, environmental sensitivity and academic excellence. We help inculcate a spirit of lifelong learning for our children to become effective change agents.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h2 class="py-5" style="text-decoration: underline;">MISSION</h2>
        <p class="fs-4" style="color: gray;">We repeatedly strive towards excellence in education by adopting a holistic and dynamic curriculum and providing a safe and nurturing environment to all learners. We recognize the significance of imparting a world class educational experience that prepares children for the future. We are a school that celebrates excellence and espouses traditional Indian values in students. Our prime mission is to ensure that the children are academically proficient, responsive to Indian culture and heritage, and display a scientific temper in an environment of sharing and caring.</p>
      </div>
      <div class="col-sm-6">
        <img src="{% static 'images/mission.jpg' %}" alt="">
      </div>
    </div>
  </div>
</div>

{% endblock %}