{% extends 'base.html' %}
{% load static %}
{% block body %}


<div class="row">
    <div class="col-sm-10 mx-auto">
       <div class="row py-3">
        <div class="col-sm-3">
            <img src="{% static 'images/founder1.jpg' %}" alt="" height="350" class="py-2">
            <h4 class="text-primary px-4"><b>Shri Sadhu Ram Ji</b> <br><h4 class="fw-bold px-5">Founder</h4></h4>
            
        </div>
        <div class="col-sm-6">
            <h5><b>Dear Parents, Guardians and Students,</b></h5>
            <br>
            <p class="fs-5" style="color: gray;">The journey of Seth Anandram Jaipuria School begins with a profound commitment to bridge the gap in educational access and quality that persists in rural areas. Having grown up in a similar environment, I understand first-hand the challenges faced by students who aspire for a modern and English-based education but lack the means to pursue it.</p>
            <br>
            <p class="fs-5" style="color: gray;">It is this very understanding that has fuelled our mission to establish a school that not only imparts knowledge but also nurtures dreams. Our curriculum is meticulously designed to blend traditional values with contemporary teaching methodologies, ensuring that every student receives a holistic education that prepares them for success in the 21st century.</p>
        </div>
        <div class="col-sm-3">
            <img src="{% static 'images/founder2.jpg' %}" alt="" height="350">
            <h4 class="text-primary px-4"><b>Smt. Sushmawati Ji</b> <br><h4 class="fw-bold px-5">Founder</h4></h4>
        </div>
       </div>
       <div class="row py-3">
        <div class="col-sm-12">
            <p class="fs-5" style="color: gray;">At our school, we envision a learning environment where curiosity is encouraged, critical thinking is fostered, and creativity is celebrated. Through interactive classrooms, state-of-the-art facilities, and a dedicated team of educators, we aim to ignite a passion for learning that transcends boundaries and empowers students to realize their full potential.</p>
            <p class="fs-5" style="color: gray;">As we embark on this journey together, I invite you to join us in shaping a future where every child has access to quality education. Together, let us sow the seeds of knowledge, nurture the aspirations of our youth, and build a brighter tomorrow for generations to come.</p>
            <p class="fs-5" style="color: gray;">Thank you for entrusting us with the education of your children. We look forward to partnering with you in this noble endeavour.</p>
        </div>
       </div>
    </div>
</div>

{% endblock %}