{% extends 'base.html' %}
{% load static %}
{% block body %}

<div class="row">
    <div class="col-sm-10 mx-auto">
        <div class="row">
            <div class="col-sm-4">              
                <img src="{% static 'images/principle.jpeg' %}" alt="" class="border border-info px-4 py-3" height="400">
                <h2 class="text-primary px-2"><b>Ms. KAMLA PAL</b></h2>
                <h5>Principal, Seth Anandram Jaipuria <br><h5 class="text-center">School</h5></h5>
            </div>
            <div class="col-sm-8">
                <p>As you explore our offerings, you’ll discover answers to your initial inquiries about our school, academic programs, and student life. Serving as the Principal, I am honored to be part of an educational institution where every stakeholder is a learner, and each day presents an opportunity for discovery. We view ourselves as a community of learners, where teachers, parents, and staff are actively engaged in the learning process.</p>
                <p>Maintaining high standards, I am committed to understanding and enhancing the educational process. We employ a dual strategy approach—Love and Logic—to create a positive learning environment. Love fosters trusting relationships, ensuring students feel respected and valued, while Logic instills personal responsibility, self-control, decision-making skills, self-confidence, and character-building with high moral values.</p>
                <p>Your child’s learning journey is a collaborative effort between home and school. We believe that a strong partnership enhances your child’s overall experience. Learning is inherently social, and I eagerly anticipate working with you to create a school where parents are always welcome, students engage in meaningful learning, and staff members are valued for their contributions.</p>
                <p>Together, we aim to uphold a standard of excellence, promote a positive learning atmosphere, and foster an environment where everyone can thrive. I look forward to the collective efforts of our entire community as we embark on this educational journey together.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}