{% extends 'base.html' %}
{% load static %}
{% block body %}

<div class="row">
    <div class="col-sm-10 mx-auto">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="px-5 py-4"><u>MEDICAL ROOM</u></h2>
                <p class="fs-5 px-5" style="color: gray;">We have an experienced doctor and a trained nurse to provide necessary first aid to the students in a time of emergency. An annual health check-up including dental and eye check-ups by specialists is a regular feature along with maintaining a medical record of each and every child. Health advisory on prevention of various illnesses like swine flu, dengue, chickenpox, etc. is also a regular feature.</p>
            </div>
        </div>
        <div class="row py-5" style="background-color: aliceblue;">
            <div class="col-sm-12">
                <h4 class="px-5 py-3"><u>Please Note:</u></h4>
                <p style="color: gray;" class="fs-5 px-5 py-2"><i class="fa-regular fa-circle-check px-3" style="color: black;"></i>Students will be provided first aid only in the school premises in case of medical problem</p>
                <p style="color: gray;" class="fs-5 px-5 py-2"><i class="fa-regular fa-circle-check px-3" style="color: black;"></i>In case of chronic diseases, school will only inform the parents telephonically. Parents will be expected to reach school at the earliest.</p>
                <p style="color: gray;" class="fs-5 px-5 py-2"><i class="fa-regular fa-circle-check px-3" style="color: black;"></i>Expenses on first aid will be borne by the school. All other expenses in case of hospitalization/ visit to private clinic/ medicine will be borne by the parents.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}