{% extends 'base.html' %}
{% load static %}
{% block body %}

<div class="row">
    <div class="col-sm-10 mx-auto">
        <div class="row">
            <div class="col-sm-4">
                <a href="#"><img src="{% static 'images/q.jpg' %}" alt="" width="450" height="350"></a>
                <h4 class="py-3"><a href="" style="text-decoration: none;" class="text-dark">3rd Refresher Training Certificate Distribute</a></h4>
                <p><a href="" style="text-decoration: none;" class="text-dark">Empowering educators, enriching education! Teachers of Seth Anandram Jaipuria School, Sadhu Campus, Barabanki, proudly received certificates for completing the Jaipuria Annual Refresher Training 2024. This intensive program equipped them with cutting-edge skills, upskilling and reskilling to stay ahead in the ever-evolving educational landscape. Congratulations to our dedicated teachers on their commitment to excellence!</a></p>
                <button class="btn btn-danger">Read More</button>
            </div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <a href="#"><img src="{% static 'images/back2.jpg' %}" alt="" width="450" height="350"></a>
                <h4 class="py-3"><a href="" style="text-decoration: none;" class="text-dark">5th Dr. Rajaram Jaipuria Memorial Lecture on “The Rise of India as Vishwa Guru – नया युग नई ऊँचाइयाँ”</a></h4>
                <p><a href="" style="text-decoration: none;" class="text-dark">Shri Ram Nath Kovind, Hon'ble 14th President of India, delivered the 5th Dr. Rajaram Jaipuria Memorial Lecture on “The Rise of India as Vishwa Guru – नया युग नई ऊँचाइयाँ" on Saturday, August 3, 2024, at Bharat Mandapam, Pragati Maidan, New Delhi. At the August gathering, he was warmly welcomed by Shri Shishir Jaipuria, Chairman, [...]</a></p>
                <button class="btn btn-danger">Read More</button>
            </div>
        </div>

        <div class="row py-4">
            <div class="col-sm-4">
                <a href="#"><img src="{% static 'images/n3.jpeg' %}" alt="" height="350" width="450"></a>
                <h4 class="py-3"><a href="" style="text-decoration: none;" class="text-dark">Synopsis of Summer Camp Activities and Closing Ceremony</a></h4>
                <p><a href="" style="text-decoration: none;" class="text-dark"></a>Venue- Seth Anandram Jaipuria School Sadhu Campus Barabanki Time - 8.00am to 12.00pm Summer Camp Activities: Arts and Crafts: Students explored their creativity through various projects, including Art and Craft. These activities helped enhance their artistic skills and provided a platform for self-expression. Sports and Recreation: A range of sports activities, such as basketball, Cone [...]</p>
                <button class="btn btn-danger">Read More</button>
            </div>
            <div class="col-sm-4">
                <a href=""><img src="{% static 'images/n2.jpg' %}" alt="" height="350" width="450"></a>
                <h4 class="py-3"><a href="" style="text-decoration: none;" class="text-dark"></a>Watermelon Party for Pre-Primary wing at Seth Anandram Jaipuria School Sadhu Campus Barabanki</h4>
                <p><a href="" style="text-decoration: none;" class="text-dark"></a>Seth Anandram jaipuria school Sadhu Campus barabanki recently held a vibrant and exciting Watermelon Party for its young learners, aiming to celebrate summer and introduce the children to healthy eating habits in a fun and engaging way. Event Highlights Welcome and Introduction: The party began with a warm welcome by the teachers, who introduced the [...]</p>
                <button class="btn btn-danger">Read More</button>
            </div>
            <div class="col-sm-4">
                <a href=""><img src="{% static 'images/n1.jpg' %}" alt="" height="350" width="450"></a>
                <h4 class="py-3"><a href="" style="text-decoration: none;" class="text-dark"></a>Mother’s Day Celebration 2024</h4>
                <p><a href="" style="text-decoration: none;" class="text-dark"></a>In the heart of a bustling school campus, a special celebration unfolds to honor the remarkable mothers within the school community. As Mother's Day approaches, students and teachers alike buzz with excitement, eagerly preparing for the festivities ahead. Classroom walls are adorned with colorful artwork and heartfelt messages, each one a testament to the love [...]</p>
                <button class="btn btn-danger">Read More</button>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <a href=""><img src="{% static 'images/n4.jpg' %}" alt="" height="350" width="420"></a>
                <h4 class="py-3"><a href="" style="text-decoration: none;" class="text-dark"></a>Seth Anandram Jaipuria Group of Schools Receives ET Now Best Education Brands of 2024 Award</h4>
                <p><a href="" style="text-decoration: none;" class="text-dark"></a>Seth Anandram Jaipuria Group of Schools has been honoured as one of the ET Now Best Education Brands of 2024, a prestigious recognition by The Times Group. This remarkable accolade was received with pride at the felicitation ceremony held in Mumbai, with Dr. Neeta Bali, Director Schools, representing our esteemed institution. This award is a [...]</p>
                <button class="btn btn-danger my-2">Read More</button>
            </div>
            <div class="col-sm-4">
                <a href=""><img src="{% static 'images/b22.jpeg' %}" alt="" height="350" width="450"></a>
                <h4 class="py-3"><a href="" style="text-decoration: none;" class="text-dark"></a>7th Jaipuria Annual School Leadership Conclave
                </h4>
                <p><a href="" style="text-decoration: none;" class="text-dark"></a>Day 1 of the 7th Jaipuria Annual School Leadership Conclave of Seth Anandram Jaipuria Group of Schools in Varanasi, on January 28, 2024, was a resounding success! With insightful addresses from Chief Guest Prof. Santanu Kumar Swain, Director Schools – Dr. Neeta Bali, Director IT, Research, and HR – Mr. Harish Sanduja, and Ms. Tapasi [...]                </p>
                <button class="btn btn-danger ">Read More</button>
            </div>
            <div class="col-sm-4"></div>
        </div>

    </div>
</div>


{% endblock %}