{% extends 'base.html' %}
{% load static %}
{% block body %}

<div class="row">
    <div class="col-sm-10 mx-auto">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="px-5 py-4"><u>TRANSPORT</u></h1>
                <p class="fs-4 px-5" style="color: gray;">Students can avail the school transport, subject to the availability of seats. The routes of the school buses are framed keeping in mind the needs of the parents and they should consult the school transport-in-charge for details.</p>
            </div>
        </div>
        <div class="row" style="background-color: aliceblue;">
            <div class="col-sm-12 py-5">
                <h3 class="px-5"><u>Bus Rules</u></h3>
                <p style="color: gray;" class="fs-5 px-5 py-4"><i class="fa-regular fa-circle-check px-3" style="color: black;"></i>Parents should not try to overtake and stop the school bus to facilitate the boarding of their wards as this endangers the safety of the bus and its occupants. This act will lead to strict disciplinary action.</p>
                <p style="color: gray;" class="fs-5 px-5 py-2"><i class="fa-regular fa-circle-check px-3" style="color: black;"></i>Parents are requested not to board school buses to see off or receive their wards.</p>
                <p style="color: gray;" class="fs-5 px-5 py-2 "><i class="fa-regular fa-circle-check px-3" style="color: black;"></i>Parents should not argue with the teachers present in the bus or the conductor / driver. If there is any problem, a written communication should be forwarded to the Administrative Office.</p>
                <p style="color: gray;" class="fs-5 px-5 py-2 "><i class="fa-regular fa-circle-check px-3" style="color: black;"></i>Under no circumstances are students allowed to go behind or under the parked buses within the school campus. Students are also not allowed to sit in the parked buses during school hours.</p>
                <p style="color: gray;" class="fs-5 px-5 py-2"><i class="fa-regular fa-circle-check px-3" style="color: black;"></i>Under no circumstances, should students touch the instrument panel of the buses.</p>
                <p style="color: gray;" class="fs-5 px-5 py-2"><i class="fa-regular fa-circle-check px-3" style="color: black;"></i>A student using the school bus is expected to be at the bus stop at least ten minutes before the scheduled arrival of the bus. The student has to be on the correct side of the arriving bus. The scheduled pick-up time is available with the transport-in-charge at the school. The school reserves the right to alter the timings, routes and stops as and when necessary.</p>
                <p style="color: gray;" class="fs-5 px-5 py-2"><i class="fa-regular fa-circle-check px-3" style="color: black;"></i>If a student misses his allotted bus he should not try to board any other bus. It is the responsibility of the parents to drop off their wards to the school. However, the student will return by the allotted bus.</p>
                <p style="color: gray;" class="fs-5 px-5 py-2"><i class="fa-regular fa-circle-check px-3" style="color: black;"></i>
                    If any parent whose child is availing school transport service wishes to take their ward privately in his/her own transport, he/she has to collect the Permission Slip from the school authorities half an hour before the end of the last class.</p>
                <p style="color: gray;" class="fs-5 px-5 py-2"><i class="fa-regular fa-circle-check px-3" style="color: black;"></i>Students are allowed to use only the allotted bus and bus stop. No change can be allowed without prior written permission of the school.</p>
                <p style="color: gray;" class="fs-5 px-5 py-2"><i class="fa-regular fa-circle-check px-3" style="color: black;"></i>The buses will not wait for latecomers.</p>
                <p style="color: gray;" class="fs-5 px-5 py-2"><i class="fa-regular fa-circle-check px-3" style="color: black;"></i>The school will not be held responsible for any lapse in the bus services. In case of any discrepancy, parents may meet the transport-in-charge.</p>
                <p style="color: gray;" class="fs-5 px-5 py-2"><i class="fa-regular fa-circle-check px-3" style="color: black;"></i>No student should come near the entry door of the bus until it comes to a complete halt. The front door of the bus is the only authorised entrance and exit.</p>
                <p style="color: gray;" class="fs-5 px-5 py-2"><i class="fa-regular fa-circle-check px-3" style="color: black;"></i>Students should stay away from the main road until the bus arrives.</p>
                <p style="color: gray;" class="fs-5 px-5 py-2"><i class="fa-regular fa-circle-check px-3" style="color: black;"></i>All students must occupy vacant seats immediately after boarding their respective buses. Reservation of seats for co-commuters are not allowed under any circumstances.</p>
                <p style="color: gray;" class="fs-5 px-5 py-2"><i class="fa-regular fa-circle-check px-3" style="color: black;"></i>The students must make sure that the aisle of the bus is clear and school bags/other belongings are placed properly.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}